body{
    background-color: rgb(27, 1, 52);
    color: rgb(255, 255, 255);
    padding: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#pasos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.paso{
    background-color: rgb(71, 36, 104);
    padding: 1rem;
    border-radius: 8px;
}